body{
    display: flex;
    justify-content: center;
    align-items: center;
}

section{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: gray;
    padding: 10px;
}

#btn{
    background-color: black;
    color: white;
}